<div class="container-fluid">
	
	<!-- List of Categories -->
	<ul class="cat-list">
		<!-- First Category -->
		<li class="cat-list--item">
		<!-- Image thumbnail -->
			<img src="" alt="Category thumbnail." class="cat-list--thumbnail">
		<!-- Category Title -->
			<h3 class="cat-list--title">Some Title</h3>
		<!-- Category Description -->
			<p class="cat-list--description">This is a description of Some Title.</p>
		<!-- CRUD -->
			<div class="cat-list--CRUD">
				<!-- Write button -->
				<button></button>
				<!-- Delete button -->
				<button></button>
			</div>
			
		</li>

	</ul>

</div>