
header{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    margin-bottom:100px;
    background-image: url("img/card_catalog.jpg");
    background-size: cover;
    background-position: center;
}

header h1{
    font: bold 32px/1.5 'Open Sans', sans-serif;
    color: #3F71AE;
    padding-bottom: 16px;
}

header h2{
    color: #F05283;
}

header h2 a{
    color:inherit;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #F05283;
    padding: 10px 15px;
    border-radius: 3px;
    font: bold 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;
}

header h2 a:hover{
    background-color:#F05283;
    transition:0.2s;
    color:#fff;
}

header ul {
    max-width: 600px;
    margin: 60px auto 0;
}

header ul{
    list-style: none;
    padding: 0;
}

header ul li{
    display: inline-block;
}


@media (max-height:800px){
    header { padding-top: 40px; }
}