@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
	padding:0;
	margin:0;
}

body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
    background-color: #3E4144;
    color: #929292
}

.navbar {
    margin-bottom: 0;
}

.img-thumb {
	max-width: 100%;
}

button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Sticky Footer Mess */
html, body {
	height: 100%;
}

/* Keeps angular objects from flashing before angular is loaded and data populated. */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

[ng-click] {
    cursor: pointer;
}


/* Required for ui-bootrap components having a pointer instead of including an href attr. */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/********************
		Form Styles
********************/
.login-or {
	position: relative;
	font-size: 18px;
	color: #aaa;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;

	margin-top:30px;
}

.span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fff;
	width: 50px;
	text-align: center;
}

.hr-or {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

/********************
		Categories
********************/

.crud button {
	display: inline-block;
	margin: auto;
	margin-bottom: 0.5em;
}

.category-wrap {
	margin-top: 0.75em;
	padding: 0.25em 0;
	border-bottom: 2px solid #292c2f;
}

.crud button.success {
    background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image: -o-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#419641));
    background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #3e8f3e;
}


/********************
*		Helper
********************/
.no-pad {
	margin: 0;
	padding: 0;
}













