#sidebar-overlay{
    display: none;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #696969;
    z-index: 10;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-overlay.toggled-remove{
    opacity: 0;
    display: block;
}

#sidebar-overlay.toggled-add{
    display: block;
}

#sidebar-overlay.toggled{
    display: block;
    opacity: .5;
}

#sidebar-overlay.toggled{
    display: block;
    opacity: .3;
}

/* Toggle Button Styles */
#menu-toggle {
    position: absolute;
    display: block;
    right: -55px;
    z-index: 1000;
    margin: 0.25em;

    color: #999999;
    background: #292c2f;
    border: 2px solid #1f2022;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Toggle Styles */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: -250px; /* move sidebar off screen on toggle */
    width: 250px;
    height: 100%;
    overflow: visible; /* the placement of the button requires this */
    background: #292c2f;
    border-right: 2px solid #1f2022;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper.toggled {
    left: 0;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #999999;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #1f2022;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav .btn-block {
    width: 90%;
    margin: auto;
    color: #fff;
}
