

/*TOPNAV STYLES*/
.top-nav-profile {
    margin-bottom: 0;
    font-size: 1.2em;
}

.top-nav-profile img{
    display: inline-block;
    height: 35px;
}
.greeting {
	margin: 0.5em 0.5em;
}
/*END TOPNAV*/


/*SIDEBAR STYLES*/

/*bs fix to keep .navbar-static-top from covering sidebar*/
.navbar-static-top {
    z-index: 101;
    background-color: #292c2f;
}
/*END fix*/

#sidebar-overlay{
    display: none;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #696969;
    z-index: 10;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-overlay.toggled-remove{
    opacity: 0;
    display: block;
}

#sidebar-overlay.toggled-add{
    display: block;
}

#sidebar-overlay.toggled{
    display: block;
    opacity: .5;
}

#sidebar-overlay.toggled{
    display: block;
    opacity: .3;
}

/* Toggle Styles */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: -250px; /* move sidebar off screen on toggle */
    width: 250px;
    height: 100%;
    overflow: visible; /* the placement of the button requires this */
    background: #292c2f;
    border-right: 2px solid #1f2022;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper nav ul{
    height: 100%;
    overflow-y: auto;
}

#sidebar-wrapper.toggled {
    left: 0;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #999999;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #1f2022;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav .btn-block {
    width: 90%;
    margin: auto;
    color: #fff;
}






/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
/*HAMBURGER - so complex*/

/* Toggle Button Styles */
#menu-toggle {
    position: absolute;
    display: block;
    width: 35px;
    height: 35px;
    right: -55px;
    z-index: 1000;
    margin: 0.5em;

    background: transparent;
    border: none;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#menu-toggle:hover,
#menu-toggle:focus,
#menu-toggle:active {
  outline: none;
}
#menu-toggle:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
#menu-toggle:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}
#menu-toggle .hamb-top,
#menu-toggle .hamb-middle,
#menu-toggle .hamb-bottom,
#menu-toggle.toggled .hamb-top,
#menu-toggle.toggled .hamb-middle,
#menu-toggle.toggled .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
#menu-toggle .hamb-top,
#menu-toggle .hamb-middle,
#menu-toggle .hamb-bottom {
  background-color: #999999;
}
#menu-toggle .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}
#menu-toggle .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
#menu-toggle .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

#menu-toggle:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
#menu-toggle:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
#menu-toggle.toggled .hamb-top,
#menu-toggle.toggled .hamb-middle,
#menu-toggle.toggled .hamb-bottom {
  background-color: #999999;
}
#menu-toggle.toggled .hamb-top,
#menu-toggle.toggled .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
#menu-toggle.toggled .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
#menu-toggle.toggled .hamb-middle { display: none; }
#menu-toggle.toggled .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
#menu-toggle.toggled:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
#menu-toggle.toggled:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}


