<br>

<div class="form-group">

  <label for="name">Name</label>
  
  <input type="text" ng-model="item.name" class="form-control" id="name" placeholder="Item Name Here"/>

</div>

<div class="form-group">

  <label for="description">Description</label>

  <input type="text" ng-model="item.description" class="form-control" id="description" placeholder="How would you describe it?"/>

</div>

<div class="form-group">

  <label for="img_url">Image URL</label>

  <input type="text" ng-model="item.img_url" class="form-control" id="img_url" placeholder="URL here or leave blank."/>

</div>

<!-- Select Field -->
<div class="form-group">

  <label for="selectField">Item Category</label>

  <select id="selectField" class="form-control" ng-options="value.id as value.name for (key, value) in categories" ng-model="item.category_id"></select>

</div>

<div class="form-group">

  <input type="submit" class="btn btn-primary" value="Save"/>
  <a type="submit" class="btn btn-default" ui-sref="items({c_id:item.category_id})">Cancel</a>

</div>
