<div class="home-category col-sm-6">
  <!-- THIS IS THE CATEGORY SECTION OF THE HOME PAGE-->
<!-- Most recent categories should repeat here -->
<!-- Only Categories of the signed in user should show CRUD ops -->
<!-- Only SIGNED IN users should see the ADD button -->
<div class="container-fluid ng-cloak">

  <br>
  <!-- Category Search Filter -->
  <form class="form-horizontal">
    <div class="form-group">
      <h3 class="pull-left no-pad">Recent Categories</h3>
      <div class="col-xs-7 pull-right">
        <input type="text" class="form-control" placeholder="Type to search categories" ng-model="searchCategories">
      </div>
    </div>
  </form>

  <div class="col-xs-offset-1 col-sm-offset-4" ng-if="categories.length===0">
    <p>
      You have no categories, yet. <a ui-sref="createCategory">Try creating one!</a>
    </p>
  </div>

  <!-- CATEGORIES SECTION OF HOME PAGE -->
	<div class="row" ng-repeat="category in categories | filter: searchCategories | limitTo: 5"> <!-- Angular should repeat this entire section? -->

		<div class="col-xs-12 col-md-10 col-md-offset-1">

			<!--<div class="container-fluid">-->

				<div class="row category-wrap"> <!-- Angular should repeat this block -->

					<!-- Category Title -->
					<div class="col-xs-6 col-md-7">
						<h3 ui-sref="items({c_id:category.id})" class="title">[[ category.name ]]</h3>
					</div>

					<!-- CRUD -->
					<div class="col-xs-5 col-md-4 crud">
            <div ng-show="currentUser.id === category.user_id">
              <!-- Edit button -->
              <button type="button" ui-sref="editCategory({id:category.id})" class="btn btn-success">
								<span class="glyphicon glyphicon-pencil"></span>
              </button>
              <!-- Delete button -->
              <button type="button" ng-click="openDeleteCategory(category)" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>

            <div ng-hide="currentUser.id === category.user_id">
              <p>
                Created: [[category.created | date:'yy-MM-dd HH:mm']]
              </p>
              By: <a ui-sref="categories({u_id: category.user_id})">[[category.username]]</a>
            </div>
					</div>

				</div> <!-- / .row -->

			<!--</div> &lt;!&ndash; / .container-fluid &ndash;&gt;-->

		</div> <!-- / .col-md-10.col-md-offset-1 -->

	</div> <!-- / .row -->
</div>
</div>


<!-- ITEMS SECTION OF HOME PAGE -->
<!-- Most recently create items should repeat here -->
<div class="home-items col-sm-6">
  <div class="container-fluid ng-cloak">
  <!-- If there are no items -->

  <br>
  <!-- Item Search Filter -->
  <form class="form-horizontal">
    <div class="form-group">
      <h3 class="pull-left no-pad">Recent Items</h3>
      <div class="col-xs-7 pull-right">
        <input type="text" class="form-control" placeholder="Type to search items" ng-model="searchItems">
      </div>
    </div>
  </form>

    <div ng-if="items.length===0">
      <p>
        You have no items, yet. <a ui-sref="createItem">Try creating one!</a>
      </p>
    </div>

	<div class="row" ng-repeat="item in items | filter:searchItems | limitTo: 10"> <!-- Angular should repeat this entire section? -->

		<div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="row category-wrap"> <!-- Angular should repeat this block -->

        <!-- Item Title -->
        <div class="col-xs-6 col-md-7">
          <h3 ui-sref="items({c_id:item.category_id})" class="title">[[ item.name ]]</h3>
        </div>
        <!-- CRUD -->
        <div class="col-xs-5 col-md-5 crud">
          <div ng-show="currentUser.id === item.user_id">
              <!-- Edit button -->
              <button type="button" ui-sref="editItem({id:item.id})" class="btn btn-success">
								<span class="glyphicon glyphicon-pencil"></span>
              </button>
              <!-- Delete button -->
              <button type="button" ng-click="openDeleteItem(item)" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          <div ng-hide="currentUser.id === item.user_id">
            <p>
                Created: [[item.created | date:'yy-MM-dd HH:mm']]
              </p>
            By: <a ui-sref="items({c_id: item.category_id})">[[item.username]]</a>
          </div>
        </div>

				</div> <!-- / .row -->

		</div> <!-- / .col-md-10.col-md-offset-1 -->

	</div> <!-- / .row -->
</div>
</div>