<div class="home-category col-xs-offset-1 col-sm-offset-0 col-xs-11 col-sm-6">
  <!-- THIS IS THE CATEGORY SECTION OF THE HOME PAGE-->
<!-- Most recent categories should repeat here -->
<!-- Only Categories of the signed in user should show CRUD ops -->
<!-- Only SIGNED IN users should see the ADD button -->
  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <div class="container-fluid ng-cloak">
        <br>

        <h2>Recent Categories</h2>

        <!-- Category Search Filter -->
        <form class="form-inline row">
          <div class="form-group col-xs-8">
            <div class="row">
              <div class="input-group col-xs-12">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control input-sm" placeholder="Type to search categories" ng-model="searchCategories">
              </div>
            </div>
          </div>

          <div class="form-group col-xs-2">
            <div class="row">
              <div class="input-group col-xs-12">
                <select class="form-control input-sm" ng-options="value as value for (key, value) in sortTypesCategory" ng-model="sortCategoryBy"></select>
              </div>
            </div>
          </div>

          <div class="form-group col-xs-1">
            <div class="row">
              <div class="input-group col-xs-12">
                <button class="btn btn-default btn-sm" ng-click="sortReverseCategory = !sortReverseCategory"><span class="glyphicon glyphicon-sort"></span></button>
              </div>
            </div>
          </div>
        </form>
        <!--END CATEGORY FILTERS-->

        <!-- If there are no categories -->
        <div class="col-xs-offset-1 col-sm-offset-4" ng-if="categories.length===0">
          <p>
            You have no categories, yet. <a ui-sref="createCategory">Try creating one!</a>
          </p>
        </div>

        <!-- CATEGORIES SECTION OF HOME PAGE -->
	      <div ng-repeat="category in categories | orderBy:sortCategoryBy:sortReverseCategory | filter: searchCategories | limitTo: 10"> <!-- Angular should repeat this entire section? -->
          <div class="row category-wrap"> <!-- Angular should repeat this block -->
            <!-- Category Title -->
            <div class="col-xs-6 col-md-7">
              <h3 ui-sref="items({c_id:category.id})" class="title">[[ category.name ]]</h3>
            </div>
            <!-- CRUD -->
            <div class="col-xs-6 col-md-5 crud">
            <div ng-show="currentUser.id === category.user_id">
              <!-- Edit button -->
              <button type="button" ui-sref="editCategory({id:category.id})" class="btn btn-success">
								<span class="glyphicon glyphicon-pencil"></span>
              </button>
              <!-- Delete button -->
              <button type="button" ng-click="openDeleteCategory(category)" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>

            <div ng-hide="currentUser.id === category.user_id">
              <p>
                Created: [[category.created | date:'yy-MM-dd HH:mm']]
              </p>
              By: <a ui-sref="categories({u_id: category.user_id})">[[category.username]]</a>
            </div>
					</div>

				    </div>
		      </div> <!-- / END NG-REPEAT .col-md-10 -->
	      </div> <!-- / .row -->
      </div>
    </div>
  </div>
</div>


<!-- ITEMS SECTION OF HOME PAGE -->
<!-- Most recently create items should repeat here -->
<div class="home-items col-xs-offset-1 col-sm-offset-0 col-xs-11 col-sm-6">
  <div class="row">
    <div class="col-sm-11">
      <div class="container-fluid ng-cloak">
        <br>

        <h2>Recent Items</h2>

        <!-- Item Search Filter -->
        <form class="form-inline row">
          <div class="form-group col-xs-8">
            <div class="row">
              <div class="input-group col-xs-12">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control input-sm" placeholder="Type to search items" ng-model="searchItems">
              </div>
            </div>
          </div>

          <div class="form-group col-xs-2">
            <div class="row">
              <div class="input-group col-xs-12">
                <select class="form-control input-sm" ng-options="value as value for (key, value) in sortTypesItem" ng-model="sortItemBy"></select>
              </div>
            </div>
          </div>

          <div class="form-group col-xs-1">
            <div class="row">
              <div class="input-group col-xs-12">
                <button class="btn btn-default btn-sm" ng-click="sortReverseItem = !sortReverseItem"><span class="glyphicon glyphicon-sort"></span></button>
              </div>
            </div>
          </div>
        </form>
        <!--END CATEGORY FILTERS-->


        <!-- If there are no items -->
        <div class="col-xs-offset-1 col-sm-offset-4" ng-if="items.length===0">
      <p>
        You have no items, yet. <a ui-sref="createItem">Try creating one!</a>
      </p>
    </div>

        <!-- ITEMS SECTION OF HOME PAGE -->
	      <div ng-repeat="item in items | orderBy:sortItemBy:sortReverseItem | filter:searchItems | limitTo: 10"> <!-- Angular should repeat this entire section? -->
          <div class="row category-wrap"> <!-- Angular should repeat this block -->

          <!-- Item Title -->
          <div class="col-xs-6 col-md-7">
            <h3 ui-sref="items({c_id:item.category_id})" class="title">[[ item.name ]]</h3>
          </div>
          <!-- CRUD -->
          <div class="col-xs-6 col-md-5 crud">
            <div ng-show="currentUser.id === item.user_id">
              <!-- Edit button -->
              <button type="button" ui-sref="editItem({id:item.id})" class="btn btn-success">
								<span class="glyphicon glyphicon-pencil"></span>
              </button>
              <!-- Delete button -->
              <button type="button" ng-click="openDeleteItem(item)" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
            <div ng-hide="currentUser.id === item.user_id">
            <p>
                Created: [[item.created | date:'yy-MM-dd HH:mm']]
              </p>
            By: <a ui-sref="items({c_id: item.category_id})">[[item.username]]</a>
          </div>
          </div>
          </div> <!-- / .row -->



	      </div> <!-- / .row -->
      </div>
    </div>
  </div>
</div>