<!-- THIS IS THE CATEGORY PAGE -->
<!-- All Categories should repeat here -->
<!-- Only Categories of the signed in user should show CRUD ops -->
<!-- Only SIGNED IN users should see the ADD button -->
<div class="col-xs-11 col-sm-10 col-xs-offset-1 ng-cloak">
  <br>
  <!--CATEGORY HEADING-->
  <h2>
    <span ng-if="usersCategory"><span ng-if="categories.length!=0">[[categories[0].username]]'s </span>Category</span>
    <span ng-if="!usersCategory">Categories</span>
    <button class="btn btn-success" ui-sref="createCategory" title="Create a category."><span class="glyphicon glyphicon-plus"></span></button>
  </h2>

  <!-- Category Search Filter -->
  <form class="form-inline row">

    <div class="form-group col-xs-2">
      <div class="row">
        <div class="input-group col-xs-12">
          <select class="form-control input-sm" ng-options="value as value for (key, value) in sortTypesCategory" ng-model="sortCategoryBy"></select>
        </div>
      </div>
    </div>

    <div class="form-group col-xs-1">
      <div class="row">
        <div class="input-group col-xs-12">
          <button class="btn btn-default btn-sm" title="Reverse sort" ng-click="sortReverseCategory = !sortReverseCategory"><span class="glyphicon glyphicon-sort"></span></button>
        </div>
      </div>
    </div>

    <div class="form-group col-xs-8">
      <div class="row">
        <div class="input-group col-xs-12">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input type="text" class="form-control input-sm" placeholder="Type to search categories" ng-model="searchCategories">
        </div>
      </div>
    </div>

  </form>
  <!--END CATEGORY FILTERS-->

  <!--If not categories-->
  <div class="col-xs-offset-1 col-sm-offset-4" ng-if="categories.length===0">
    <p>You have no categories, yet. <a ui-sref="createCategory">Try creating one!</a></p>
  </div>

	<div ng-repeat="category in categories | orderBy:sortCategoryBy:sortReverseCategory | filter:searchCategories"> <!-- Angular should repeat this entire section? -->

			<div class="container-fluid">
				
				<div class="row category-wrap"> <!-- Angular should repeat this block -->
						
					<!-- Image thumbnail -->
					<div ui-sref="items({c_id:category.id})" class="col-xs-3 col-md-2">
						<img class="img-thumb" ng-src="[[ category.img_url ]]" alt="[[ category.name ]] image.">
					</div>

					<!-- Category Title -->
					<div class="col-xs-6 col-md-8">
						<h3 ui-sref="items({c_id:category.id})" class="title">[[ category.name ]]</h3>
					</div>

					<!-- CRUD -->
					<div class="col-xs-3 col-md-2 crud">
            <div ng-show="currentUser.id === category.user_id">
              <!-- Edit button -->
              <button type="button" ui-sref="editCategory({id:category.id})" class="btn btn-success">
								<span class="glyphicon glyphicon-pencil"></span>
              </button>
              <!-- Delete button -->
              <button type="button" ng-click="openDeleteCategory(category)" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>

            <div ng-hide="currentUser.id === category.user_id">
              <p>
                Created: [[category.created | date:'yy-MM-dd HH:mm']]
              </p>
              By: <a ui-sref="categories({u_id: category.user_id})">[[category.username]]</a>
            </div>
					</div>

				</div> <!-- / .row -->

			</div> <!-- / .container-fluid -->

	</div> <!-- / END NG-REPEAT -->
</div>
</div>