<!-- THIS IS THE CATEGORY PAGE -->
<!-- All Categories should repeat here -->
<!-- Only Categories of the signed in user should show CRUD ops -->
<!-- Only SIGNED IN users should see the ADD button -->

<div class="container-fluid">
			
	<div class="row" ng-repeat="category in categories"> <!-- Angular should repeat this entire section? -->
		
		<div class="col-md-10 col-md-offset-1">

			<div class="container-fluid">
				
				<div class="row"> <!-- Angular should repeat this block -->
						
					<!-- Image thumbnail -->
					<div class="col-xs-2">
						<img class="img-thumb" ng-src="[[ category.img_url ]]" alt="[[ category.name ]] image.">
					</div>

					<!-- Category Title -->
					<div class="col-xs-2">
						<h3 class="title">[[ category.name ]]</h3>
					</div>

					<!-- CRUD -->
					<div class="col-xs-2">
            <div ng-show="currentUser.id === category.user_id">
              <!-- Edit button -->
              <button type="button" ui-sref="editCategory({id:category.id})" class="btn btn-success btn-block">Edit</button>
              <!-- Delete button -->
              <button type="button" ng-click="open(category)" class="btn btn-danger btn-block">Delete Catalog</button>
            </div>

            <div ng-hide="user.id == item.user_id">
              <p>Date Created: January 17, 1707</p>
            </div>
					</div>

				</div> <!-- / .row -->

			</div> <!-- / .container-fluid -->

		</div> <!-- / .col-md-10.col-md-offset-1 -->
	
	</div> <!-- / .row -->
</div>
    <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
[[selected]]
