
	<div class="container-fluid">

		<div class="row">

			<div class="col-sm-6 col-sm-offset-3">

				<form action="" class="form-horizontal">
					<!-- Category/Item Title -->
					<div class="form-group">
						<label for="title" class="col-sm-2 control-label">Title</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="title">
						</div>
					</div>

					<!-- Category/Item Description -->
					<div class="form-group">
						<label for="description" class="col-sm-2 control-label">Description</label>
						<div class="col-sm-10">
							<textarea name="description" id="description" rows="3" class="form-control"></textarea>
						</div>
					</div>

					<!-- Image URL -->
					<div class="form-group">
						<label for="imgURL" class="col-sm-2 control-label">Image URL</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="imgURL">
						</div>
					</div>

					<!-- Select Field -->
					<div class="form-group">
						<label for="selectField" class="col-sm-2 control-label">Select Field</label>
						<div class="col-sm-10">
							<select name="selectField" class="form-control" id="selectField">
								<option value="1">Some</option>
								<option value="2">Options</option>
								<option value="3">Go</option>
								<option value="4">Here</option>
							</select>
						</div>
					</div>

					<!-- Confirm and Cancel -->
					<div class="form-group">
						<div class="col-sm-4 col-sm-offset-4">
							<button class="btn btn-primary btn-block" type="submit">Submit</button>
							<button class="btn btn-danger btn-block" type="button">Cancel</button>
						</div>
					</div>

				</form>

			</div>

		</div>

	</div>