<div class="cat-header">
	<!-- Category Title -->
	<h3>Category Title</h3>
	<!-- Category Description -->
	<p class="cat-description"></p>
	<!-- Add Category Button -->
	<button>Add Item</button>
</div>

<!-- Category Items List -->
<ul class="cat-items-list">
	
	<li>
		<!-- Item Thumbnail -->

		<!-- Item Title -->

		<!-- Item Description -->

		<!-- CRUD -->
		<div class="cat-list--CRUD">
			<!-- Write button -->
			<button></button>
			<!-- Delete button -->
			<button></button>
		</div>

	</li>

</ul>