<!DOCTYPE html>
<html ng-app="catalog">
<head>
    <base href="/">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="catalog, search" />

	<title>Catalog App</title>

  <link rel="stylesheet" href="../static/css/vendor/bootstrap.css">
  <link rel="stylesheet" href="../static/css/vendor/bootstrap-theme.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="../static/css/navigation.css">
  <link rel="stylesheet" href="../static/css/header.css">
  <link rel="stylesheet" href="../static/css/footer.css">

</head>

<body ng-controller="MainCtrl">
<div id="sidebar-overlay" ng-class="{toggled: menu_toggled}" ng-click="menuToggle()"></div>
<!-- Sidebar -->
<div id="sidebar-wrapper" ng-class="{toggled: menu_toggled}">
  <!-- Sidebar Toggle -->
  <button type="button" id="menu-toggle" ng-class="{toggled: menu_toggled}" ng-click="menuToggle()" >
    <span class="hamb-top"></span>
    <span class="hamb-middle"></span>
    <span class="hamb-bottom"></span>
  </button>
  <!--<button id="menu-toggle" ng-class="{toggled: menu_toggled}" ng-click="menuToggle()" type="button" class="btn">-->
    <!--<p class="sr-only">Sidebar Menu Toggle</p>-->
    <!--<span class="glyphicon glyphicon-menu-hamburger"></span>-->
  <!--</button>-->
  <nav>
    <ul class="sidebar-nav">
      <li class="sidebar-brand">Catalog App</li>
      <li role="presentation" ng-click="menuToggle()"><a ui-sref="home">Home</a></li>
      <li ng-if="isLoggedin" role="presentation" ng-click="menuToggle()"><a ui-sref="categories({u_id: currentUser.id})">My Categories</a></li>
      <li role="presentation" ng-click="menuToggle()"><a ui-sref="createCategory">Create Category</a></li>
      <li ng-if="isLoggedin" role="presentation" ng-click="menuToggle()"><a ui-sref="items({u_id: currentUser.id})">My Items</a></li>
      <li role="presentation" ng-click="menuToggle()"><a ui-sref="createItem">Create Item</a></li>
      <li role="presentation" ng-click="menuToggle()">
        <a ng-if="!currentUser.username" type="button" ui-sref="login" class="btn btn-block btn-success ng-cloak">Login or Register</a>
        <a ng-if="currentUser.username" type="button" ng-click="logout()" class="btn btn-success btn-block ng-cloak">Log Out</a>
      </li>
    </ul>
  </nav>
</div>
<!-- /Sidebar -->

<!-- Main Content -->
<div id="page-content-wrapper">
  
  <nav class="navbar navbar-static-top">
    <div class="container-fluid">
      <div class="pull-right greeting ng-cloak">
        <div ng-if="currentUser.username">
          <p class="top-nav-profile">
            <img class="img-responsive" ng-src="[[currentUser.picture]]" alt="[[currentUser.username]]'s profile picture">
            Welcome, [[currentUser.username]]
          </p>
        </div>
        <div ng-if="!currentUser.username"><a ui-sref="login">Login or Register</a></div>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <!-- Insert Partials with Angular -->
      <div class="alert alert-warning ng-cloak" ng-repeat="msg in serverRejects track by $index" role="alert">
        <button type="button" class="close" ng-click="removeServerReject(msg)">
          <span>&times;</span>
        </button>
        [[msg]]
      </div>

      <div ui-view></div>
    </div>
  </div>
</div>
<!-- /Main Content -->


<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="//code.angularjs.org/1.4.7/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
<script src="//code.angularjs.org/1.4.7/angular-cookies.min.js"></script>
<script src="//code.angularjs.org/1.4.7/angular-resource.min.js"></script>
<script src="//code.angularjs.org/1.4.7/angular-messages.min.js"></script>
<script src="../static/js/vendor/ui-bootstrap-tpls-0.14.0.min.js"></script>
<script src="../static/js/app.js"></script>
<script src="../static/js/controllers.js"></script>
<script src="../static/js/services.js"></script>
<script src="../static/js/directives.js"></script>

</body>

</html>
